
 {% extends 'navbar.html' %}
 {% block body %}
    

    <div style="margin-top: 100px;text-align: center; "><h4>GitHub Link:-<a href="https://github.com/KiranGangoor0301">https://github.com/KiranGangoor0301</a></h4>
    <h4>Linked In :-<a href="https://www.linkedin.com/in/kiran-g-0596ba234">https://www.linkedin.com/in/kiran-g-0596ba234</a></h4>
    <h4>PortFolio :-<a href="https://kiran-personnelportfolio.netlify.app">https://kiran-personnelportfolio.netlify.app</a></h4>
    <h4>Instagram :-<a href="https://www.instagram.com/_.kirankumar._.0301/?igshid=ZDdkNTZiNTM%3D">https://www.instagram.com/_.kirankumar._.0301/?igshid=ZDdkNTZiNTM%3D</a></h4>
</div>
{% endblock body %}